@media (min-width: 768px) {
  .footer-link-list-col {
    margin-right: 40px;
  }
}

@media (min-width: 1471px) {
  .footer-link-list-col {
    margin-right: 0;
  }
}

.languages li a {
  display: inline-block;
}

.languages li img {
  width: 48px;
  height: 48px;
}

@media (min-width: 992px) {
  .languages li img {
    width: 24px;
    height: 24px;
  }
}

.profiles li img {
  width: 48px;
  height: 48px;
}

@media (min-width: 992px) {
  .profiles li img {
    width: 24px;
    height: 24px;
  }
}
